body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: darkblue;
}

.memory-game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: purple;
    font-size: 50px;
    border-radius: 5px;
    transform: scale(0.97);
    transition: transform 0.5s;
}

.card.flip {
    transform: rotateY(180deg);  
}